
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family:"Raleway" ;
    src: url(./assets/fonts/Raleway.ttf);
}




h1, h2 {
      font-family : "Lato", sans-serif ;
}
.title {
    background-color: #dbc2a4;
    border-left:5px solid #782221;
    border-right: 2px solid transparent;
    transition: border-right-color 0.3s ease;
}
.title:hover {
    border-right-color: #782221;
}
body {
    width: 1160px;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
}

.container {
    justify-content: flex-start;
   
    
}

.header {
    background-color: #782221;
    text-align: center;
    margin-top: 20px;
   
}

.profile {
    box-shadow: -10px 5px 13px 5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: zoom-in;
   
}

.contact-info {
    background-color: #2c1d27ac;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 10px;
    
}
.link {
    text-decoration: none;
    transition: text-decoration 0.3s ease;
    
}
.link:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
    border-right: 2px solid #782221 ;
   
}
.sidebar {
    display: block;
    background-color: #782221;
    width: 200px;
    height: auto;
    padding: 10px;
    text-align: justify; 

}
.text {text-indent: 50px;}

.sidetitle {
    
    background-color: #dbc2a4;
    background-position-x: left;
}

 

.mainbar {
    margin: 10px 10px;
    padding: 10px 10px;
   

}

.footer {
    background-color: #782221;
    display: flex;
    justify-content: center;
 
}

.social-icons img {
    align-items: center;
    justify-content: space-between;
    max-width: 50px;
    max-height: 50px;
    transition: opacity 0.3s ease;
}
.social-icons:hover {
    opacity: 0.8;
}